.text-area {
    -fx-opacity: 1;
}

.main-view {
    -fx-background-color: #efefef;
}

.card {
    -fx-background-color: white;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-effect: dropshadow(gaussian, #b8b8b8, 10, 0.5, 1, 1);
}

.header {
    -fx-background-color: white;
}

.shadow {
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, #b8b8b8, 10, 0.5, 0, 1);
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane .tab-content-area {
    -fx-background-color: white;
    -fx-border-width: 1px;
    -fx-border-color: grey;
}
